    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_green.min.css" />

<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
        .demo-layout-transparent {
          background: url('../LogoLarge.png') center / cover;
        }
        .demo-layout-transparent .mdl-layout__header,
        .demo-layout-transparent .mdl-layout__drawer-button {
          /* This background is dark, so we set text to white. Use 87% black instead if
             your background is light. */
          color: white;
        }
        </style>
        
        <div class="demo-layout-transparent mdl-layout mdl-js-layout">
          <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">Don't currently know whether I'm allowed to use the logo on this page</span>
              <!-- Add spacer, to align navigation to the right -->
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation -->
              <nav class="navigation mdl-navigation">
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home">Home</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">CData Maker</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/renamer">Renamer</a>
                      <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/help">Help</a>
              </nav>
            </div>
          </header>
          
          <main class="mdl-layout__content">
          </main>
        </div>