<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cdata Maker</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_green.min.css" />

  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="title mdl-layout-title">
            <img class="logo-image" src="Matillion-logo.png">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="header-spacer mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">


          </div>
          <!-- Navigation -->
          <div class="navigation-container">
            <nav class="navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home">Home</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">CData Maker</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/renamer">Renamer</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/help">Help</a>
          </nav>
        </div>
 

      </div>
    </div>

<div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col">
            <fieldset>
                <form action="/fileupload" method="post" enctype="multipart/form-data"><br>
                  <input type="file" name="filetoupload" required><br><br>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                        Make me some Components!
                      </button>
                </form>
              </fieldset>

        </div>
        <div class="mdl-layout-spacer"></div>
    </div>


</div>

  </body>
</html>