<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible">
        <title>Cdata Maker</title>
    
        <!-- Page styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_green.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      </head>

  <body>

      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

          <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
              <span class="title mdl-layout-title">
                <img class="logo-image" src="Matillion-logo.png">
              </span>
              <!-- Add spacer, to align navigation to the right in desktop -->
              <div class="header-spacer mdl-layout-spacer"></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
    
    
              </div>
              <!-- Navigation -->
              <div class="navigation-container">
                <nav class="navigation mdl-navigation">
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home">Home</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">CData Maker</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/renamer">Renamer</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/help">Help</a>
              </nav>
            </div>
     
    
          </div>
        </div>
        <div>
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>

                <div class="mdl-cell mdl-cell--4-col">
                    <fieldset>
                        <form action="/nextstep" method="post"><br>
                          <!-- checkbox options -->

                           <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="enhsql">
                                <input type="checkbox" id="enhsql" class="mdl-switch__input" value="enhsql" name="functionality" checked>
                                <span class="mdl-switch__label">Enhanced SQL</span>
                              </label>
                              <br>
                              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="pseudocols">
                                  <input type="checkbox" id="pseudocols" class="mdl-switch__input" value="pseudo" name="functionality" checked>
                                <span class="mdl-switch__label">Pseudo Columns</span>
                              </label>
                              <br>
                              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="basicadv">
                                  <input type="checkbox" id="basicadv" class="mdl-switch__input" value="basadv" name="functionality" checked>
                                  <span class="mdl-switch__label">Basic/Advanced Mode</span>
                                </label>
                                <br>
                                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="limit">
                                    <input type="checkbox" id="limit" class="mdl-switch__input" value="limit" name="functionality" checked>
                                    <span class="mdl-switch__label">Limit</span>
                                  </label>
                                  <br>
                                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="tables">
                                      <input type="checkbox" id="tables" class="mdl-switch__input" value="tables" name="functionality" checked>
                                      <span class="mdl-switch__label">Different Tables</span>
                                    </label>

                                        <!-- Floating Multiline Textfield -->
                                        <div class="mdl-textfield mdl-js-textfield">
                                        <textarea class="mdl-textfield__input" type="text" rows= "10" id="tableinput" name="tableinput" ></textarea>
                                        <label class="mdl-textfield__label" for="tableinput">Paste CData Data Sources Here....</label>
                                        </div><br>
                                                                  
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                                            Make me some Components!
                                          </button>
                                  </form>
                      </fieldset>
        
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
        
        
        </div>


  </body>
</html>