<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Renamer</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_green.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="title mdl-layout-title">
            <img class="logo-image" src="Matillion-logo.png">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="header-spacer mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">


          </div>
          <!-- Navigation -->
          <div class="navigation-container">
            <nav class="navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/home">Home</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/">CData Maker</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/renamer">Renamer</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/help">Help</a>

            </nav>
          </div>
 

      </div>
    </div>


<!-- ABOVE THIS IS ALL THE HEADER BAR THING-->


<div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col">
            <h4> This will attempt to rename EVERY component in the file</h4>

            <fieldset>
                <form action="/nextrename" method="post"><br>
                                            <!-- Floating Multiline Textfield -->
                                            <div class="mdl-textfield mdl-js-textfield">
                                            <textarea class="mdl-textfield__input" type="text" rows= "1" id="renamename" name="renamename" required></textarea>
                                            <label class="mdl-textfield__label" for="renamename">Enter New Component Name....</label>
                                            </div><br>
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                                                Rename me some Components!
                                              </button>

                </form>
            </fieldset>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>

</div>

  </body>
</html>